@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	height: 100%;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'segoe ui', arial, helvetica, sans-serif;
	letter-spacing: 1px;
}

input {
	letter-spacing: 1px;
}

textarea {
	letter-spacing: 1px;
}

@layer components {
	.el {
	}

	.el-title {
		@apply text-lg font-medium lg:text-2xl;
	}

	.el-subtitle {
		@apply mt-3 text-base font-semibold lg:text-lg;
	}

	.el-bullet-text {
		@apply text-sm lg:text-base;
	}

	.el:first-of-type {
		@apply mt-3;
	}
}
